<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompteBancaireViewDlg" widgetVar="CompteBancaireViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCompteBancaireTitle}">
            <h:form id="CompteBancaireViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{compteBancaireController.selected != null}">
                        <h:outputText value="#{bundle.ViewCompteBancaireLabel_id}"/>
                        <h:outputText value="#{compteBancaireController.selected.id}" title="#{bundle.ViewCompteBancaireTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCompteBancaireLabel_firstName}"/>
                        <h:outputText value="#{compteBancaireController.selected.firstName}" title="#{bundle.ViewCompteBancaireTitle_firstName}"/>
                        <h:outputText value="#{bundle.ViewCompteBancaireLabel_lastName}"/>
                        <h:outputText value="#{compteBancaireController.selected.lastName}" title="#{bundle.ViewCompteBancaireTitle_lastName}"/>
                        <h:outputText value="#{bundle.ViewCompteBancaireLabel_accountNumber}"/>
                        <h:outputText value="#{compteBancaireController.selected.accountNumber}" title="#{bundle.ViewCompteBancaireTitle_accountNumber}"/>
                        <h:outputText value="#{bundle.ViewCompteBancaireLabel_balance}"/>
                        <h:outputText value="#{compteBancaireController.selected.balance}" title="#{bundle.ViewCompteBancaireTitle_balance}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CompteBancaireViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
